*{
box-sizing: border-box;
margin: 0;
padding: 0;
 
}
body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
}
.wrapper{
  display: flex;
  width: 350px;
  height: 150px;
  background-color: red;
}
button{
  display: flex;
  justify-items: center;
  align-items: center;
  background-color: blueviolet;
}